.edit-reimbursement-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #ade8f4;
    border-radius: 8px;
    padding: 1rem;
    .id,.status,.submitted{
        background-color: #90e0ef;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 1.4rem;
            color: rgb(38, 38, 38);
        }
        span{
            pointer-events: none;
            font-size: 1.2rem;
            color: rgb(82, 82, 82);
            background-color: lightgray;
            padding: .25rem .5rem;
            border-radius: 4px;
        }
    }
    .amount{
        background-color: #90e0ef;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: .5rem 0;
        p{
            font-size: 1.4rem;
            color: rgb(38, 38, 38);
        }
        .amount-input{
            display: flex;
            width: 30%;
            flex-direction: column;
            align-items: flex-start;
            span{
                width: 100%;
                cursor: text;
                font-size: 1.2rem;
                color: rgb(38, 38, 38);
                background-color: white;
                padding: .25rem .5rem;
                border-radius: 4px;
                overflow: hidden;
            }
            p{
                font-size: .9rem;
            }
        }
    }
    .description{
        background-color: #90e0ef;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 1.4rem;
            color: rgb(38, 38, 38);
        }
        textarea{
            border: none;
            padding: .25rem .5rem;
            width: 50%;
            border-radius: 4px;
            font-size: 1rem;
            color: rgb(72, 72, 72);
        }
    }
    .type{
        background-color: #90e0ef;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: .5rem 0;
        p{
            font-size: 1.4rem;
            color: rgb(38, 38, 38);
        }
        select{
            border: none;
            font-size: 1.3rem;
            color: rgb(38, 38, 38);
            background-color: white;
            padding: .25rem .5rem;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    .status{
        margin: .5rem 0;
    }    
    .submit{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #submit{
            width: 30%;
            border:  none;
            border-radius: 3px;
            font-size: 1rem;
            padding: .25rem .5rem;
            background-color: #023E8A;
            color: white;
            cursor: pointer;
            transition: all .5s ease;
            &:hover{
                background-color: #03045E;
            }
        }
        #cancel{
            width: 30%;
            border:  none;
            border-radius: 3px;
            font-size: 1rem;
            padding: .25rem .5rem;
            background-color: rgb(214, 26, 26);
            color: white;
            cursor: pointer;
            transition: all .5s ease;
            &:hover{
                background-color: rgb(138, 19, 19);
            }
        }
    }
    

}