.main-header{
    color: #fff;
    font-size: .9rem;
    padding: 1rem 2rem;
    background-color: #023E8A;
    display: flex;
    flex-direction: row;
    align-items: center;
    i{
        cursor: pointer;
    }
    h2{
        margin-left: 2rem;
    }
}

.main-page{
    width: 100%;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    h2{
        font-size: 2.5rem;
        color: #023E8A;
        text-decoration: underline;
        margin: 1rem 0rem;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 95%;
        border: 1px solid #90E0EF;
        color: black;
      }
      
      th, td {
        text-align: left;
        padding: 12px;
        font-weight: 300;
      }
      
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #categories{
          background-color: #023E8A;
          color: white;
          font-weight: 600;
      }
      i{
          margin-left:.25rem;
          font-size: 1rem;
          cursor: pointer;
      }

      .status{
          display: flex;
          flex-direction: column;
          margin: 0;
          a{
              color: grey;
              font-size: .9rem;
          }
      }


}