* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  color: white;
  background-color: #CAF0F8;
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header {
  color: #fff;
  font-size: .9rem;
  padding: 1rem 2rem;
  background-color: #023E8A;
}

footer {
  width: 100%;
  padding: .5rem;
  background-color: #023E8A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

footer h2 {
  font-size: 1.2rem;
}

footer .copyright {
  font-size: .8rem;
  color: white;
}

footer .footer-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-options a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-options a:hover {
  text-decoration: underline;
  color: #ADE8F4;
}

footer .footer-options span {
  font-size: 1rem;
  color: white;
  margin: 0 1rem;
}

.login-page {
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CAF0F8;
}

.login-page .login-form {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .login-form #error {
  width: 100%;
  background-color: #fff;
  color: red;
  text-align: center;
  font-weight: 600;
  margin: .5rem 0;
}

.login-page .login-form h2 {
  font-size: 2.5rem;
  color: #023E8A;
  text-decoration: underline;
}

.login-page .login-form .form-input-email {
  font-size: 1.2rem;
  width: 100%;
  color: #023E8A;
  margin-bottom: 1rem;
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.login-page .login-form .form-input-password {
  font-size: 1.2rem;
  width: 100%;
  color: #023E8A;
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.login-page .login-form .showPassword {
  font-size: .9rem;
  color: #023E8A;
  margin: .25rem 0 1rem 0;
  cursor: pointer;
}

.login-page .login-form .showPassword:hover {
  text-decoration: underline;
}

.login-page .login-form .login-submit {
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: .5rem .3rem;
  background-color: #023E8A;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.login-page .login-form .login-submit:hover {
  background-color: #03045E;
}

.login-page span {
  color: #023E8A;
  margin: 1rem 0rem;
}

.login-page span a {
  color: #023E8A;
}

.register-page {
  margin: 1rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CAF0F8;
}

.register-page .register-form {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-page .register-form h2 {
  font-size: 2.5rem;
  color: #023E8A;
  text-decoration: underline;
}

.register-page .register-form input {
  font-size: 1.1rem;
  width: 100%;
  color: #023E8A;
  margin-bottom: 1rem;
  padding: .5rem .8rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.register-page .register-form .register-form-card {
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-page .register-form .register-form-card .card {
  width: 48.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-page .register-form .register-form-card .card input {
  margin: 0 0 .5rem 0;
}

.register-page .register-form .register-form-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-page .register-form .register-form-password .card {
  width: 48.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-page .register-form .register-form-password .card input {
  margin: 0 0 .3rem 0;
}

.register-page .register-form .register-form-password .card .showPassword, .register-page .register-form .register-form-password .card .confirmPassword {
  font-size: .9rem;
  color: #023E8A;
  cursor: pointer;
}

.register-page .register-form .register-form-password .card .showPassword:hover, .register-page .register-form .register-form-password .card .confirmPassword:hover {
  text-decoration: underline;
}

.register-page .register-form .register-submit {
  margin-top: .5rem;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: .5rem .3rem;
  background-color: #023E8A;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.register-page .register-form .register-submit:hover {
  background-color: #03045E;
}

.register-page span {
  color: #03045E;
}

.register-page span a {
  color: #03045E;
}

.main-header {
  color: #fff;
  font-size: .9rem;
  padding: 1rem 2rem;
  background-color: #023E8A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header i {
  cursor: pointer;
}

.main-header h2 {
  margin-left: 2rem;
}

.main-page {
  width: 100%;
  margin: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page h2 {
  font-size: 2.5rem;
  color: #023E8A;
  text-decoration: underline;
  margin: 1rem 0rem;
}

.main-page table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  border: 1px solid #90E0EF;
  color: black;
}

.main-page th, .main-page td {
  text-align: left;
  padding: 12px;
  font-weight: 300;
}

.main-page tr:nth-child(even) {
  background-color: #f2f2f2;
}

.main-page #categories {
  background-color: #023E8A;
  color: white;
  font-weight: 600;
}

.main-page i {
  margin-left: .25rem;
  font-size: 1rem;
  cursor: pointer;
}

.main-page .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.main-page .status a {
  color: grey;
  font-size: .9rem;
}

.main-page .nothing {
  width: 60%;
  padding: 1rem 0rem;
  font-size: 2rem;
  color: #023E8A;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .nothing button {
  width: 10%;
  cursor: pointer;
  background-color: #0077B6;
  color: white;
  font-size: 1rem;
  border: none;
  padding: .3rem 1rem;
  border-radius: 7px;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.main-page .nothing button:hover {
  background-color: #023E8A;
}

.main-page .unavailable button {
  border: none;
  padding: .2rem .4rem;
  border-radius: 3px;
  pointer-events: none;
  background-color: lightgrey;
  color: #9d9c9c;
}

.main-page .available button {
  color: white;
  border: none;
  padding: .2rem .4rem;
  border-radius: 3px;
  cursor: pointer;
}

.main-page .available #edit {
  background-color: #0077B6;
}

.main-page .available #delete {
  background-color: red;
}
/*# sourceMappingURL=Style.css.map */