* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #CAF0F8;
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h5 {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 1rem;
}

b {
  font-size: .8rem;
  color: grey;
  font-weight: 100;
}

header {
  color: #fff;
  font-size: .9rem;
  padding: 1rem 2rem;
  background-color: #023E8A;
}

footer {
  width: 100%;
  padding: .5rem;
  background-color: #023E8A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

footer h2 {
  font-size: 1.2rem;
}

footer .copyright {
  font-size: .8rem;
  color: white;
}

footer .footer-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-options a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-options a:hover {
  text-decoration: underline;
  color: #ADE8F4;
}

footer .footer-options span {
  font-size: 1rem;
  color: white;
  margin: 0 1rem;
}

.login-page {
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CAF0F8;
}

.login-page .login-form {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .login-form #error {
  width: 100%;
  background-color: #fff;
  color: red;
  text-align: center;
  font-weight: 600;
  margin: .5rem 0;
}

.login-page .login-form h2 {
  font-size: 2.5rem;
  color: #023E8A;
  text-decoration: underline;
}

.login-page .login-form .form-input-email {
  font-size: 1.2rem;
  width: 100%;
  color: #023E8A;
  margin-bottom: 1rem;
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.login-page .login-form .form-input-password {
  font-size: 1.2rem;
  width: 100%;
  color: #023E8A;
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.login-page .login-form .showPassword {
  font-size: .9rem;
  color: #023E8A;
  margin: .25rem 0 1rem 0;
  cursor: pointer;
}

.login-page .login-form .showPassword:hover {
  text-decoration: underline;
}

.login-page .login-form button {
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: .5rem .3rem;
  background-color: #023E8A;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.login-page .login-form button:hover {
  background-color: #03045E;
}

.login-page span {
  color: #023E8A;
  margin: 1rem 0rem;
}

.login-page span a {
  color: #023E8A;
}

.register-page {
  margin: 1rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CAF0F8;
}

.register-page .register-form {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-page .register-form h2 {
  font-size: 2.5rem;
  color: #023E8A;
  text-decoration: underline;
}

.register-page .register-form input {
  font-size: 1.1rem;
  width: 100%;
  color: #023E8A;
  margin-bottom: 1rem;
  padding: .5rem .8rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.register-page .register-form .register-form-card {
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-page .register-form .register-form-card .card {
  width: 48.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-page .register-form .register-form-card .card input {
  margin: 0 0 .5rem 0;
}

.register-page .register-form .register-form-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-page .register-form .register-form-password .card {
  width: 48.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-page .register-form .register-form-password .card input {
  margin: 0;
}

.register-page .register-form .register-form-password .card .showPassword, .register-page .register-form .register-form-password .card .confirmPassword {
  font-size: .9rem;
  color: #023E8A;
  cursor: pointer;
}

.register-page .register-form .register-form-password .card .showPassword:hover, .register-page .register-form .register-form-password .card .confirmPassword:hover {
  text-decoration: underline;
}

.register-page .register-form #password-tip {
  font-size: .9rem;
}

.register-page .register-form #password-tip i {
  margin-right: .5rem;
}

.register-page .register-form button {
  margin-top: .5rem;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: .5rem .3rem;
  background-color: #023E8A;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.register-page .register-form button:hover {
  background-color: #03045E;
}

.register-page span {
  margin-top: .5rem;
  color: #03045E;
}

.register-page span a {
  color: #03045E;
}

.main-header {
  color: #fff;
  font-size: .9rem;
  padding: 1rem 2rem;
  background-color: #023E8A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header span i {
  margin-left: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.main-header span i:hover {
  color: lightgray;
}

nav {
  border-top: #0077B6 1px solid;
  width: 20%;
  position: absolute;
  right: 0;
  background-color: #023E8A;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem;
  border-bottom-left-radius: 6px;
}

nav p {
  font-weight: 200;
  text-align: center;
  color: white;
  font-size: 1rem;
  width: 100%;
  margin-bottom: .3rem;
}

nav span {
  font-weight: 200;
  text-align: center;
  color: white;
  font-size: 1rem;
  width: 100%;
  margin-bottom: .3rem;
  cursor: pointer;
}

nav span i {
  margin-right: .5rem;
}

nav span:hover {
  background-color: #022f6a;
}

.main-page {
  width: 100%;
  margin: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .breadcrumb {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1rem;
  color: #474646;
}

.main-page .breadcrumb a {
  text-decoration: none;
  margin-right: .25rem;
  font-size: 1rem;
  color: #474646;
}

.main-page .breadcrumb a:hover {
  color: #022f6a;
}

.main-page .breadcrumb span {
  text-decoration: underline;
}

.main-page h2 {
  font-size: 2.5rem;
  color: #023E8A;
  text-decoration: underline;
}

.main-page .menu {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .2rem;
}

.main-page .menu button {
  border: none;
  background-color: #0096c7;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 3px;
  -webkit-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.main-page .menu button:hover {
  background-color: #023E8A;
}

.main-page .menu button i {
  margin: 0 .5rem;
}

.main-page table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  border: 1px solid #90E0EF;
  color: #393939;
  background-color: #ade8f4;
}

.main-page th, .main-page td {
  text-align: left;
  padding: 12px;
  font-weight: 300;
}

.main-page tr:nth-child(even) {
  background-color: #f2f2f2;
}

.main-page #categories {
  background-color: #023E8A;
  color: white;
  font-weight: 600;
}

.main-page i {
  margin-left: .25rem;
  font-size: 1rem;
  cursor: pointer;
}

.main-page .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.main-page .status button {
  border: none;
  background-color: #0077B6;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .2rem .4rem;
  cursor: pointer;
  font-size: .9rem;
  border-radius: 3px;
}

.main-page .status button:hover {
  background-color: #023E8A;
}

.main-page .nothing {
  width: 90%;
  padding: 1rem 0rem;
  font-size: 2rem;
  color: #023E8A;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .nothing button {
  width: 10%;
  cursor: pointer;
  background-color: #0077B6;
  color: white;
  font-size: 1rem;
  border: none;
  padding: .3rem 1rem;
  border-radius: 7px;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.main-page .nothing button:hover {
  background-color: #023E8A;
}

.main-page .unavailable button {
  border: none;
  padding: .2rem .4rem;
  border-radius: 3px;
  pointer-events: none;
  background-color: lightgrey;
  color: #9d9c9c;
}

.main-page .available button {
  color: white;
  border: none;
  padding: .2rem .4rem;
  border-radius: 3px;
  cursor: pointer;
}

.main-page .available #edit {
  background-color: #0077B6;
}

.main-page .available #delete {
  background-color: red;
}

.main-page #receipt {
  color: black;
}

.main-page #process {
  color: white;
  text-decoration: none;
  border: none;
  padding: .2rem .4rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #0077B6;
}

.main-page #process:hover {
  background-color: #023E8A;
}

.process-reimbursement-info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ade8f4;
  border-radius: 8px;
  padding: 1rem;
}

.process-reimbursement-info div {
  background-color: #90e0ef;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process-reimbursement-info div p {
  font-size: 1.4rem;
  color: #262626;
}

.process-reimbursement-info div span {
  font-size: 1.2rem;
  color: #262626;
  background-color: whitesmoke;
  padding: .25rem .5rem;
  border-radius: 4px;
}

.process-reimbursement-info .status {
  background-color: #90e0ef;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process-reimbursement-info .status p {
  font-size: 1.4rem;
  color: #262626;
}

.process-reimbursement-info .status select {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #262626;
  background-color: whitesmoke;
  padding: .25rem .5rem;
  border-radius: 4px;
  cursor: pointer;
}

.process-reimbursement-info .amount, .process-reimbursement-info .type, .process-reimbursement-info .submitted {
  margin: 1rem 0rem;
}

.process-reimbursement-info .description span {
  width: 50%;
}

.process-reimbursement-info .submit {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.process-reimbursement-info .submit #submit {
  width: 30%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: #023E8A;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.process-reimbursement-info .submit #submit:hover {
  background-color: #03045E;
}

.process-reimbursement-info .submit #cancel {
  width: 30%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: #d61a1a;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.process-reimbursement-info .submit #cancel:hover {
  background-color: #8a1313;
}

.edit-reimbursement-info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ade8f4;
  border-radius: 8px;
  padding: 1rem;
}

.edit-reimbursement-info .id, .edit-reimbursement-info .status, .edit-reimbursement-info .submitted {
  background-color: #90e0ef;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-reimbursement-info .id p, .edit-reimbursement-info .status p, .edit-reimbursement-info .submitted p {
  font-size: 1.4rem;
  color: #262626;
}

.edit-reimbursement-info .id span, .edit-reimbursement-info .status span, .edit-reimbursement-info .submitted span {
  pointer-events: none;
  font-size: 1.2rem;
  color: #525252;
  background-color: lightgray;
  padding: .25rem .5rem;
  border-radius: 4px;
}

.edit-reimbursement-info .amount {
  background-color: #90e0ef;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5rem 0;
}

.edit-reimbursement-info .amount p {
  font-size: 1.4rem;
  color: #262626;
}

.edit-reimbursement-info .amount .amount-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.edit-reimbursement-info .amount .amount-input span {
  width: 100%;
  cursor: text;
  font-size: 1.2rem;
  color: #262626;
  background-color: white;
  padding: .25rem .5rem;
  border-radius: 4px;
  overflow: hidden;
}

.edit-reimbursement-info .amount .amount-input p {
  font-size: .9rem;
}

.edit-reimbursement-info .description {
  background-color: #90e0ef;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-reimbursement-info .description p {
  font-size: 1.4rem;
  color: #262626;
}

.edit-reimbursement-info .description textarea {
  border: none;
  padding: .25rem .5rem;
  width: 50%;
  border-radius: 4px;
  font-size: 1rem;
  color: #484848;
}

.edit-reimbursement-info .type {
  background-color: #90e0ef;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5rem 0;
}

.edit-reimbursement-info .type p {
  font-size: 1.4rem;
  color: #262626;
}

.edit-reimbursement-info .type select {
  border: none;
  font-size: 1.3rem;
  color: #262626;
  background-color: white;
  padding: .25rem .5rem;
  border-radius: 4px;
  cursor: pointer;
}

.edit-reimbursement-info .status {
  margin: .5rem 0;
}

.edit-reimbursement-info .submit {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.edit-reimbursement-info .submit #submit {
  width: 30%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: #023E8A;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.edit-reimbursement-info .submit #submit:hover {
  background-color: #03045E;
}

.edit-reimbursement-info .submit #cancel {
  width: 30%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: #d61a1a;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.edit-reimbursement-info .submit #cancel:hover {
  background-color: #8a1313;
}

.add-reimbursement {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ade8f4;
  border-radius: 8px;
  padding: 1rem;
}

.add-reimbursement div {
  background-color: #90e0ef;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-reimbursement div p {
  font-size: 1.4rem;
  color: #262626;
}

.add-reimbursement div .amount-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add-reimbursement div .amount-input input {
  border: none;
  padding: .25rem .5rem;
  border-radius: 4px;
  font-size: 1.3rem;
}

.add-reimbursement div .amount-input p {
  font-size: .9rem;
}

.add-reimbursement div textarea {
  border: none;
  padding: .25rem .5rem;
  width: 50%;
  border-radius: 4px;
  font-size: 1rem;
}

.add-reimbursement div select {
  border: none;
  font-size: 1.3rem;
  color: #262626;
  background-color: white;
  padding: .25rem .5rem;
  border-radius: 4px;
  cursor: pointer;
}

.add-reimbursement .description {
  margin: .5rem 0rem;
}

.add-reimbursement .submit {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add-reimbursement .submit #submit {
  width: 30%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: #023E8A;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.add-reimbursement .submit #submit:hover {
  background-color: #03045E;
}

.add-reimbursement .submit #cancel {
  width: 30%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: #d61a1a;
  color: white;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.add-reimbursement .submit #cancel:hover {
  background-color: #8a1313;
}

@-webkit-keyframes awn-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes awn-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes awn-fade-out {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes awn-fade-out {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes awn-slide-right {
  0% {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes awn-slide-right {
  0% {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes awn-slide-left {
  0% {
    opacity: 0;
    right: 100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes awn-slide-left {
  0% {
    opacity: 0;
    right: 100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes awn-bar {
  0% {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes awn-bar {
  0% {
    right: 100%;
  }
  to {
    right: 0;
  }
}

.awn-popup-loading-dots, .awn-popup-loading-dots:after, .awn-popup-loading-dots:before {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: awn-loading-dots 1s ease-in-out infinite;
          animation: awn-loading-dots 1s ease-in-out infinite;
  background: #fff;
  border-radius: 50%;
  height: 6px;
  width: 6px;
}

.awn-popup-loading-dots {
  -webkit-animation-delay: -.16s;
          animation-delay: -.16s;
  color: #fff;
  display: inline-block;
  margin-left: 24px;
  position: relative;
}

.awn-popup-loading-dots:after, .awn-popup-loading-dots:before {
  content: "";
  position: absolute;
  top: 0;
}

.awn-popup-loading-dots:before {
  -webkit-animation-delay: -.32s;
          animation-delay: -.32s;
  left: -16px;
}

.awn-popup-loading-dots:after {
  left: 16px;
}

@-webkit-keyframes awn-loading-dots {
  0%, 80%, to {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  40% {
    -webkit-box-shadow: 0 0 0 2px;
            box-shadow: 0 0 0 2px;
  }
}

@keyframes awn-loading-dots {
  0%, 80%, to {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  40% {
    -webkit-box-shadow: 0 0 0 2px;
            box-shadow: 0 0 0 2px;
  }
}

#awn-popup-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: awn-fade-in;
          animation-name: awn-fade-in;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

#awn-popup-wrapper.awn-hiding {
  -webkit-animation-name: awn-fade-out;
          animation-name: awn-fade-out;
}

#awn-popup-wrapper .awn-popup-body {
  background: #fff;
  border-radius: 6px;
  font-size: 14px;
  max-width: 500px;
  min-width: 320px;
  padding: 24px;
  position: relative;
  word-break: break-word;
}

#awn-popup-wrapper .awn-popup-body.awn-popup-confirm {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#awn-popup-wrapper .awn-popup-body.awn-popup-confirm .fa {
  color: #c26700;
  font-size: 44px;
}

#awn-popup-wrapper .awn-popup-body.awn-popup-async-block {
  background: transparent;
  color: black;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

#awn-popup-wrapper .awn-popup-title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 8px;
  text-transform: uppercase;
}

#awn-popup-wrapper .awn-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}

#awn-popup-wrapper .awn-buttons .awn-btn {
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
  width: 45%;
}

#awn-popup-wrapper .awn-buttons-1 .awn-btn {
  width: 100%;
}

#awn-popup-wrapper .awn-buttons .awn-btn-success {
  background: #40871d;
}

#awn-popup-wrapper .awn-buttons .awn-btn-success:hover {
  background: #367218;
}

#awn-popup-wrapper .awn-buttons .awn-btn-cancel {
  background: #1c76a6;
}

#awn-popup-wrapper .awn-buttons .awn-btn-cancel:hover {
  background: #186690;
}

#awn-toast-container {
  bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  right: 24px;
  z-index: 99998;
}

#awn-toast-container.awn-top-left, #awn-toast-container.awn-top-right {
  bottom: auto;
  top: 24px;
}

#awn-toast-container.awn-top-left .awn-toast:first-child, #awn-toast-container.awn-top-right .awn-toast:first-child {
  margin-top: 16px;
}

#awn-toast-container.awn-bottom-left, #awn-toast-container.awn-top-left {
  left: 24px;
  right: auto;
}

#awn-toast-container.awn-bottom-left .awn-toast, #awn-toast-container.awn-top-left .awn-toast {
  -webkit-animation-name: awn-slide-left;
          animation-name: awn-slide-left;
  right: 100%;
}

#awn-toast-container.awn-bottom-left .awn-toast.awn-hiding, #awn-toast-container.awn-top-left .awn-toast.awn-hiding {
  right: 0;
}

#awn-toast-container.awn-bottom-right .awn-toast, #awn-toast-container.awn-top-right .awn-toast {
  -webkit-animation-name: awn-slide-right;
          animation-name: awn-slide-right;
  left: 100%;
}

#awn-toast-container.awn-bottom-right .awn-toast.awn-hiding, #awn-toast-container.awn-top-right .awn-toast.awn-hiding {
  left: 0;
}

.awn-toast {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #ebebeb;
  border-radius: 6px;
  color: gray;
  cursor: pointer;
  font-size: 14px;
  margin-top: 16px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.awn-toast-content {
  word-break: break-word;
}

.awn-toast-label {
  color: gray;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
}

.awn-toast-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 16px;
  top: 6px;
}

.awn-toast-icon .fa {
  color: gray;
  font-size: 44px;
}

.awn-toast-wrapper {
  border: 2px solid #d1d1d1;
  border-radius: 6px;
  padding: 22px 88px 16px 16px;
}

.awn-toast-progress-bar {
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.awn-toast-progress-bar:after {
  -webkit-animation-duration: inherit;
          animation-duration: inherit;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: awn-bar;
          animation-name: awn-bar;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: gray;
  content: " ";
  height: 6px;
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
}

.awn-toast.awn-toast-progress-bar-paused .awn-toast-progress-bar:after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.awn-toast.awn-hiding {
  -webkit-animation-name: awn-fade-out !important;
          animation-name: awn-fade-out !important;
}

.awn-toast.awn-toast-success {
  background: #dff8d3;
  color: #40871d;
}

.awn-toast.awn-toast-success .awn-toast-wrapper {
  border-color: #a7d590;
}

.awn-toast.awn-toast-success .fa, .awn-toast.awn-toast-success b {
  color: #40871d;
}

.awn-toast.awn-toast-success .awn-toast-progress-bar:after {
  background: #40871d;
}

.awn-toast.awn-toast-info {
  background: #d3ebf8;
  color: #1c76a6;
}

.awn-toast.awn-toast-info .awn-toast-wrapper {
  border-color: #9fd3ef;
}

.awn-toast.awn-toast-info .fa, .awn-toast.awn-toast-info b {
  color: #1c76a6;
}

.awn-toast.awn-toast-info .awn-toast-progress-bar:after {
  background: #1c76a6;
}

.awn-toast.awn-toast-alert {
  background: #f8d5d3;
  color: #a92019;
}

.awn-toast.awn-toast-alert .awn-toast-wrapper {
  border-color: #f0a29d;
}

.awn-toast.awn-toast-alert .fa, .awn-toast.awn-toast-alert b {
  color: #a92019;
}

.awn-toast.awn-toast-alert .awn-toast-progress-bar:after {
  background: #a92019;
}

.awn-toast.awn-toast-warning {
  background: #ffe7cc;
  color: #c26700;
}

.awn-toast.awn-toast-warning .awn-toast-wrapper {
  border-color: #ffc480;
}

.awn-toast.awn-toast-warning .fa, .awn-toast.awn-toast-warning b {
  color: #c26700;
}

.awn-toast.awn-toast-warning .awn-toast-progress-bar:after {
  background: #c26700;
}

[class^=awn-] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=Style.css.map */