<?xml version="1.0" encoding="UTF-8"?>
<!--web.xml is your deployment descriptor
        this is how tomcat gathers information about your project, such as welcome files,
            available servlets, how to handle errors and exceptions, and other various
            configurations you may want tomcat to know about.
    It belongs in src/main/webapp/WEB-INF/ directory
-->
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
    <listener>
        <listener-class>com.revature.servlets.DependencyLoaderListener</listener-class>
    </listener>

    <!--health-->
    <servlet-mapping>
        <servlet-name>healthServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>healthServlet</servlet-name>
        <servlet-class>com.revature.servlets.HealthServlet</servlet-class>
    </servlet>

    <!--login-->
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
    </servlet>

    <!-- register servlet-->
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.revature.servlets.RegisterServlet</servlet-class>
    </servlet>

    <!--reimbursements for finance manager-->
    <servlet-mapping>
        <servlet-name>financeReimbursementServlet</servlet-name>
        <url-pattern>/reimbursements/finance_manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>financeReimbursementServlet</servlet-name>
        <servlet-class>com.revature.servlets.FinanceReimbursementServlet</servlet-class>
    </servlet>

<!--    filter servlets-->
    <servlet-mapping>
        <servlet-name>filterByStatusServlet</servlet-name>
        <url-pattern>/reimbursements/filter/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>filterByStatusServlet</servlet-name>
        <servlet-class>com.revature.servlets.FilterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>filterByTypeServlet</servlet-name>
        <url-pattern>/reimbursements/filter/type</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filterByTypeServlet</servlet-name>
        <servlet-class>com.revature.servlets.FilterByTypeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>filterByResolverServlet</servlet-name>
        <url-pattern>/reimbursements/filter/resolver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>filterByResolverServlet</servlet-name>
        <servlet-class>com.revature.servlets.GetByResolverServlet</servlet-class>
    </servlet>

    <!--reimbursements for user-->
    <servlet-mapping>
        <servlet-name>userReimbursementServlet</servlet-name>
        <url-pattern>/reimbursements/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userReimbursementServlet</servlet-name>
        <servlet-class>com.revature.servlets.UserReimbursementServlet</servlet-class>
    </servlet>

    <!--reimbursement-->
    <servlet-mapping>
        <servlet-name>reimbursementServlet</servlet-name>
        <url-pattern>/reimbursement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reimbursementServlet</servlet-name>
        <servlet-class>com.revature.servlets.ReimbursementServlet</servlet-class>
    </servlet>

    <!-- CORS FILTER -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.revature.servlets.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- /CORS FILTER -->

</web-app>